nav {
    text-align: center;
    background-color: rgb(255, 234, 237);
}

a {
    font-size: 7cm;
    padding-right: 5cm;
    text-decoration: none;
    color: darkred;
}

table {
    border: 2cm;
    border-color: black;
}

tr {
    padding: 2cm 2cm;
    margin: auto;
}