nav {
    text-align: center;
    background-color: rgb(255, 234, 237);
}

a {
    padding-right: 5cm;
    text-decoration: none;
    color: darkred;
}

table {
    align-items: center;
    border-collapse: 100%;
    border-radius: 1cm; 
    border-color: black;
}

tr {
    padding: 2cm 2cm;
    margin: auto;
}

body {
    background-color: rgb(202, 129, 129);
}