nav {
    text-align: center;
    background-color: rgb(255, 234, 237);
}

a {
    padding-right: 5cm;
    text-decoration: none;
    color: darkred;
}

body {
    text-align: center;
    background-color: rgb(202, 129, 129);
}