:root {
    --head-color: linear-gradient(black, rgba(0, 0, 0, 0.118));
    --foot-color: linear-gradient(rgba(0, 0, 0, 0.118), black);
    --content-color: rgba(35, 47, 92, 0.638);
    --text-color: rgb(255, 200, 36);
    --bar-color: rgba(0, 0, 0, 0.118);
}

html {
    background-image: url('bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/* Page Layout */
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "bar tele tele"
        "bar mount mount"
        "bar acc acc"
        "foot foot foot";
    grid-template-columns: 200px 2fr;
    background-color: var(--content-color);
}

header {
    grid-area: header;
    padding: 20px;
    background-image: var(--head-color);
    margin: 0%;
}

.sidebar {
    grid-area: bar;
    background-color: var(--bar-color);
    align-items: center;
    padding: 1cm 10px;
}

.sidebar a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    font-size: larger;
}

.sidebar a:hover {
    color: var(--text-color);
}

.sidebar a:active {
    font-weight: bolder;
}

/* Products */

.tele {
 grid-area: tele;
 display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.mounts {
 grid-area: mount;
 display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.access {
 grid-area: acc;
 display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.product {
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--text-color);
    text-align: center;
}

.product img {
    height: 300px;
    border-radius: 10px;
}

.product h2 {
    margin-bottom: 0%;
}
/** Home */

/** Transaction */

/** Cart */

footer {
    grid-area: foot;
    text-align: center;
    padding: 20px;
    background-image: var(--foot-color);
}