:root {
    --head-color: linear-gradient(black, rgba(0, 0, 0, 0.118));
    --foot-color: linear-gradient(rgba(0, 0, 0, 0.118), black);
    --content-color: rgba(35, 47, 92, 0.638);
    --text-color: rgb(255, 200, 36);
    --bar-color: rgba(0, 0, 0, 0.118);
}

html {
    background-image: url('bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/* Page Layout */
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "bar feature feature"
        "bar product product"
        "foot foot foot";
    grid-template-columns: 200px 2fr;
    background-color: var(--content-color);
}

header {
    grid-area: header;
    padding: 20px;
    background-image: var(--head-color);
    margin: 0%;
}

.sidebar {
    grid-area: bar;
    background-color: var(--bar-color);
    align-items: center;
    padding: 1cm 10px;
}

.sidebar a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    font-size: larger;
}

.sidebar a:hover {
    color: var(--text-color);
}

.sidebar a:active {
    font-weight: bolder;
}

/** Home */
/* Features */
.features {
    grid-area: feature;
    position: relative;
    margin: auto;
}

.feattxttop {
    position: absolute;
    font-size: x-large;
    top: 20px;
    left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.feattxtbot {
    position: absolute;
    font-size: x-large;
    color: var(--text-color);
    bottom: 70px;
    left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.feattxtbot button {
    background-color: var(--text-color);  
    bottom: 70px;
    left: 20px;
    font-size: x-large;
    font-weight: bolder;
    color: white;

    border-radius: 10px;
    border-style: outset;
    width: 4cm;
    height: 1cm;
    transform: translateY(-50%);
}

/* Products */
.products {
    grid-area: product;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.product {
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--text-color);
    text-align: center;
}

.product img {
    height: 300px;
    border-radius: 10px;
}

.product h2 {
    margin-bottom: 0%;
}
/** Home */

/** About and Contact */
.content {
    margin-left: 5.5cm;
    padding: 20px;
    text-align: center;
}

form {
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    margin-left: 9cm;
    max-width: 600px;
    background-color: rgba(146, 146, 146, 0.2);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    width: 50%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

form button {
    display: block;
    font-family: 'Trebuchet MS';
    font-size: medium;
    background-color: #ccc;
    color: rgb(9, 17, 31);
    padding: 9px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 1cm;
    cursor: pointer;
    
}

/** About and Contact */


footer {
    grid-area: foot;
    text-align: center;
    padding: 20px;
    background-image: var(--foot-color);
}